<?xml version="1.0" encoding="UTF-8"?>
<project name="spring-mvc-example-error" default="all">
  
  
  <property file="spring-mvc-example-error.properties"/>
  <!-- Uncomment the following property if no tests compilation is needed -->
  <!-- 
  <property name="skip.tests" value="true"/>
   -->
  
  <!-- Compiler options -->
  
  <property name="compiler.debug" value="on"/>
  <property name="compiler.generate.no.warnings" value="off"/>
  <property name="compiler.args" value=""/>
  <property name="compiler.max.memory" value="700m"/>
  <patternset id="ignored.files">
    <exclude name="**/*.hprof/**"/>
    <exclude name="**/*.pyc/**"/>
    <exclude name="**/*.pyo/**"/>
    <exclude name="**/*.rbc/**"/>
    <exclude name="**/*~/**"/>
    <exclude name="**/.DS_Store/**"/>
    <exclude name="**/.bundle/**"/>
    <exclude name="**/.git/**"/>
    <exclude name="**/.hg/**"/>
    <exclude name="**/.svn/**"/>
    <exclude name="**/.tox/**"/>
    <exclude name="**/CVS/**"/>
    <exclude name="**/RCS/**"/>
    <exclude name="**/SCCS/**"/>
    <exclude name="**/__pycache__/**"/>
    <exclude name="**/_svn/**"/>
    <exclude name="**/rcs/**"/>
    <exclude name="**/vssver.scc/**"/>
    <exclude name="**/vssver2.scc/**"/>
  </patternset>
  <patternset id="library.patterns">
    <include name="*.war"/>
    <include name="*.ear"/>
    <include name="*.apk"/>
    <include name="*.zip"/>
    <include name="*.swc"/>
    <include name="*.ane"/>
    <include name="*.egg"/>
    <include name="*.jar"/>
  </patternset>
  <patternset id="compiler.resources">
    <exclude name="**/?*.java"/>
    <exclude name="**/?*.form"/>
    <exclude name="**/?*.class"/>
    <exclude name="**/?*.groovy"/>
    <exclude name="**/?*.scala"/>
    <exclude name="**/?*.flex"/>
    <exclude name="**/?*.kt"/>
    <exclude name="**/?*.clj"/>
    <exclude name="**/?*.aj"/>
  </patternset>
  
  <!-- JDK definitions -->
  
  <property name="jdk.bin.8u66" value="${jdk.home.8u66}/bin"/>
  <path id="jdk.classpath.8u66">
    <fileset dir="${jdk.home.8u66}">
      <include name="jre/lib/jsse.jar"/>
      <include name="jre/lib/management-agent.jar"/>
      <include name="jre/lib/jfr.jar"/>
      <include name="jre/lib/jfxswt.jar"/>
      <include name="jre/lib/deploy.jar"/>
      <include name="jre/lib/rt.jar"/>
      <include name="jre/lib/jce.jar"/>
      <include name="jre/lib/resources.jar"/>
      <include name="jre/lib/javaws.jar"/>
      <include name="jre/lib/charsets.jar"/>
      <include name="jre/lib/plugin.jar"/>
      <include name="jre/lib/ext/jaccess.jar"/>
      <include name="jre/lib/ext/sunjce_provider.jar"/>
      <include name="jre/lib/ext/zipfs.jar"/>
      <include name="jre/lib/ext/sunec.jar"/>
      <include name="jre/lib/ext/jfxrt.jar"/>
      <include name="jre/lib/ext/nashorn.jar"/>
      <include name="jre/lib/ext/dnsns.jar"/>
      <include name="jre/lib/ext/localedata.jar"/>
      <include name="jre/lib/ext/cldrdata.jar"/>
      <include name="jre/lib/ext/sunpkcs11.jar"/>
    </fileset>
  </path>
  
  <property name="project.jdk.home" value="${jdk.home.8u66}"/>
  <property name="project.jdk.bin" value="${jdk.bin.8u66}"/>
  <property name="project.jdk.classpath" value="jdk.classpath.8u66"/>
  
  
  <!-- Project Libraries -->
  
  <path id="library.com.google.code.gson:gson:2.3.1.classpath">
    <pathelement location="${basedir}/lib/gson-2.3.1.jar"/>
  </path>
  
  <path id="library.lib.classpath">
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/Qrcode_swetake.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/aopalliance-1.0.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/aspectjweaver-1.8.5.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/classmate-1.0.0.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/commons-codec-1.6.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/commons-fileupload-1.2.2.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/commons-httpclient-3.0.1.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/commons-io-2.0.1.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/commons-logging-1.1.1.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/dom4j-1.6.1.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/ehcache-2.10.0.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/fastjson-1.2.0.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/guava-10.0.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/hibernate-validator-5.1.3.Final.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/httpclient-4.3.5.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/httpcore-4.3.2.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/httpmime-4.3.4.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/jackson-annotations-2.4.5.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/jackson-core-2.4.5.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/jackson-databind-2.4.5.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/javassist-3.16.1-GA.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/jaxen-1.1-beta-6.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/jboss-logging-3.1.3.GA.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/jcl-over-slf4j-1.7.10.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/jstl-1.2.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/log4j-1.2.12.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/log4j-over-slf4j-1.7.10.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/logback-classic-1.1.2.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/logback-core-1.1.2.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/mybatis-2.3.5.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/ognl-3.0.8.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/qrcode.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/slf4j-api-1.7.10.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/slf4j-log4j12-1.6.6.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-aop-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-beans-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-context-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-context-support-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-core-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-data-commons-1.9.2.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-expression-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-jdbc-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-mobile-device-1.1.3.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-orm-3.2.11.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-tx-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-web-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/spring-webmvc-4.1.5.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/terasoluna-dao-2.0.5.0.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/terasoluna-ibatis-2.0.5.0.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/thymeleaf-2.1.4.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/thymeleaf-spring4-2.1.4.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/unbescape-1.1.0.RELEASE.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/validation-api-1.1.0.Final.jar"/>
    <pathelement location="${basedir}/WebContent/WEB-INF/lib/weixinApi.jar"/>
  </path>
  
  <path id="library.lib1.classpath">
    <pathelement location="${basedir}/lib/antlr-2.7.7.jar"/>
    <pathelement location="${basedir}/lib/dom4j-1.6.1.jar"/>
    <pathelement location="${basedir}/lib/hibernate-commons-annotations-4.0.2.Final.jar"/>
    <pathelement location="${basedir}/lib/hibernate-core-4.2.2.Final.jar"/>
    <pathelement location="${basedir}/lib/hibernate-jpa-2.0-api-1.0.1.Final.jar"/>
    <pathelement location="${basedir}/lib/javassist-3.15.0-GA.jar"/>
    <pathelement location="${basedir}/lib/javax.annotation1.jar"/>
    <pathelement location="${basedir}/lib/javax.ejb1.jar"/>
    <pathelement location="${basedir}/lib/javax.jms1.jar"/>
    <pathelement location="${basedir}/lib/javax.persistence1.jar"/>
    <pathelement location="${basedir}/lib/javax.resource1.jar"/>
    <pathelement location="${basedir}/lib/javax.servlet.jsp1.jar"/>
    <pathelement location="${basedir}/lib/javax.servlet1.jar"/>
    <pathelement location="${basedir}/lib/javax.transaction1.jar"/>
    <pathelement location="${basedir}/lib/jboss-logging-3.1.0.GA.jar"/>
    <pathelement location="${basedir}/lib/jboss-transaction-api_1.1_spec-1.0.1.Final.jar"/>
    <pathelement location="${basedir}/lib/lombok-1.16.6.jar"/>
  </path>
  
  <path id="library.mysql:mysql-connector-java:5.1.37.classpath">
    <pathelement location="${basedir}/lib/mysql-connector-java-5.1.371.jar"/>
  </path>
  
  <path id="library.pingpp-java-2.1.1.classpath">
    <pathelement location="${basedir}/lib/pingpp-java-2.1.1.jar"/>
  </path>
  
  
  <!-- Global Libraries -->
  
  <path id="library.mysql:mysql-connector-java:5.1.37.classpath">
    <pathelement location="/home/john/jackepansda7/J2EEworks/ntt/spring-mvc-example-error/lib/mysql-connector-java-5.1.37.jar"/>
  </path>
  
  
  <!-- Application Server Libraries -->
  <!-- Register Custom Compiler Taskdefs -->
  <property name="javac2.home" value="${idea.home}/lib"/>
  <path id="javac2.classpath">
    <pathelement location="${javac2.home}/javac2.jar"/>
    <pathelement location="${javac2.home}/jdom.jar"/>
    <pathelement location="${javac2.home}/asm-all.jar"/>
    <pathelement location="${javac2.home}/jgoodies-forms.jar"/>
  </path>
  <target name="register.custom.compilers">
    <taskdef name="javac2" classname="com.intellij.ant.Javac2" classpathref="javac2.classpath"/>
    <taskdef name="instrumentIdeaExtensions" classname="com.intellij.ant.InstrumentIdeaExtensions" classpathref="javac2.classpath"/>
  </target>
  
  <!-- Modules -->
  
  <import file="${basedir}/module_spring-mvc-example-error.xml"/>
  
  <target name="init" description="Build initialization">
    <!-- Perform any build initialization in this target -->
  </target>
  
  <target name="clean" depends="clean.module.spring-mvc-example-error, clean.artifact.spring-mvc-example-error:war_exploded" description="cleanup all"/>
  
  <target name="build.modules" depends="init, clean, compile.module.spring-mvc-example-error" description="build all modules"/>
  
  <target name="init.artifacts">
    <property name="artifacts.temp.dir" value="${basedir}/__artifacts_temp"/>
    <property name="artifact.output.spring-mvc-example-error:war_exploded" value="${basedir}/out/artifacts/spring_mvc_example_error_war_exploded"/>
    <mkdir dir="${artifacts.temp.dir}"/>
  </target>
  
  <target name="clean.artifact.spring-mvc-example-error:war_exploded" description="clean spring-mvc-example-error:war exploded artifact output">
    <delete dir="${artifact.output.spring-mvc-example-error:war_exploded}"/>
  </target>
  
  <target name="artifact.spring-mvc-example-error:war_exploded" depends="init.artifacts, compile.module.spring-mvc-example-error" description="Build &#39;spring-mvc-example-error:war exploded&#39; artifact">
    <mkdir dir="${artifact.output.spring-mvc-example-error:war_exploded}"/>
    <mkdir dir="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF"/>
    <mkdir dir="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/classes"/>
    <copy todir="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/classes">
      <fileset dir="${spring-mvc-example-error.output.dir}"/>
    </copy>
    <mkdir dir="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/slf4j-log4j12-1.6.6.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/slf4j-log4j12-1.6.6.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/fastjson-1.2.0.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/fastjson-1.2.0.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-context-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-context-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/javassist-3.16.1-GA.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/javassist-3.16.1-GA.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/jackson-databind-2.4.5.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/jackson-databind-2.4.5.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-expression-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-expression-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/thymeleaf-spring4-2.1.4.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/thymeleaf-spring4-2.1.4.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/httpclient-4.3.5.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/httpclient-4.3.5.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/commons-fileupload-1.2.2.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/commons-fileupload-1.2.2.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-webmvc-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-webmvc-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/hibernate-validator-5.1.3.Final.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/hibernate-validator-5.1.3.Final.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-beans-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-beans-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/log4j-over-slf4j-1.7.10.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/log4j-over-slf4j-1.7.10.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/commons-logging-1.1.1.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/commons-logging-1.1.1.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/qrcode.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/qrcode.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-core-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-core-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/ognl-3.0.8.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/ognl-3.0.8.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/commons-httpclient-3.0.1.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/commons-httpclient-3.0.1.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/jaxen-1.1-beta-6.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/jaxen-1.1-beta-6.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-context-support-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-context-support-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/terasoluna-dao-2.0.5.0.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/terasoluna-dao-2.0.5.0.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-jdbc-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-jdbc-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-mobile-device-1.1.3.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-mobile-device-1.1.3.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/logback-classic-1.1.2.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/logback-classic-1.1.2.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/dom4j-1.6.1.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/dom4j-1.6.1.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-orm-3.2.11.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-orm-3.2.11.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-data-commons-1.9.2.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-data-commons-1.9.2.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/aopalliance-1.0.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/aopalliance-1.0.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/jboss-logging-3.1.3.GA.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/jboss-logging-3.1.3.GA.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-web-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-web-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/logback-core-1.1.2.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/logback-core-1.1.2.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/weixinApi.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/weixinApi.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/aspectjweaver-1.8.5.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/aspectjweaver-1.8.5.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/jcl-over-slf4j-1.7.10.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/jcl-over-slf4j-1.7.10.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/jackson-core-2.4.5.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/jackson-core-2.4.5.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/thymeleaf-2.1.4.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/thymeleaf-2.1.4.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/commons-codec-1.6.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/commons-codec-1.6.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/slf4j-api-1.7.10.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/slf4j-api-1.7.10.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/ehcache-2.10.0.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/ehcache-2.10.0.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/validation-api-1.1.0.Final.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/validation-api-1.1.0.Final.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/guava-10.0.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/guava-10.0.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/Qrcode_swetake.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/Qrcode_swetake.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/httpmime-4.3.4.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/httpmime-4.3.4.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/jackson-annotations-2.4.5.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/jackson-annotations-2.4.5.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/commons-io-2.0.1.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/commons-io-2.0.1.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/mybatis-2.3.5.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/mybatis-2.3.5.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/log4j-1.2.12.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/log4j-1.2.12.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/classmate-1.0.0.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/classmate-1.0.0.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/unbescape-1.1.0.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/unbescape-1.1.0.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-aop-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-aop-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/spring-tx-4.1.5.RELEASE.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/spring-tx-4.1.5.RELEASE.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/httpcore-4.3.2.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/httpcore-4.3.2.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/jstl-1.2.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/jstl-1.2.jar"/>
    <copy file="${basedir}/WebContent/WEB-INF/lib/terasoluna-ibatis-2.0.5.0.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/terasoluna-ibatis-2.0.5.0.jar"/>
    <copy file="${basedir}/lib/mysql-connector-java-5.1.371.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/mysql-connector-java-5.1.371.jar"/>
    <copy file="${basedir}/lib/gson-2.3.1.jar" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/lib/gson-2.3.1.jar"/>
    <copy todir="${artifact.output.spring-mvc-example-error:war_exploded}">
      <fileset dir="${basedir}/WebContent"/>
    </copy>
    <mkdir dir="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF"/>
    <copy file="${basedir}/WebContent/WEB-INF/web.xml" tofile="${artifact.output.spring-mvc-example-error:war_exploded}/WEB-INF/web.xml"/>
  </target>
  
  <target name="build.all.artifacts" depends="artifact.spring-mvc-example-error:war_exploded" description="Build all artifacts">
    
    <!-- Delete temporary files -->
    <delete dir="${artifacts.temp.dir}"/>
  </target>
  
  <target name="all" depends="build.modules, build.all.artifacts" description="build all"/>
</project>