<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-mvc-example-error:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/spring_mvc_example_error_war_exploded</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-mvc-example-error" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
          <element id="library" level="project" name="mysql:mysql-connector-java:5.1.37" />
          <element id="library" level="project" name="com.google.code.gson:gson:2.3.1" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="spring-mvc-example-error/web/Web" />
    </root>
  </artifact>
</component>